.menuExternalLink {
  align-items: center;
}

.coming__soon {
  pointer-events: none;
}

.coming__soon::after {
  content: 'Coming Soon!';
  margin-left: auto;
  border-radius: 1rem;
  background-color: var(--doc-badge-notice-background-color);
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  color: var(--doc-badge-notice-color);
}
